
.all
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -40px;
}
form
{
    width: 380px;
    display: flex;
    flex-direction: column;
}

form input
{
    height: 2rem;
    width: 100%;

}

.sub
{
    text-align: center;
    width: 90%;
    margin-inline: 5%;
    margin-top: 1rem;
    background-color: rgb(176, 249, 169);
}

.sub:hover
{
    background-color: rgb(4, 255, 67);
}
